.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000; /* Черный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Чтобы быть поверх Canvas */
  color: white;
  font-family: sans-serif;
}

.start-button {
  padding: 10px 20px;
  background: rgb(255, 255, 255);
  color: black;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.custom-cursor {
  width: 20px;
  height: 20px;
  background-color: white; /* Цвет инверсии */
  border-radius: 50%;
  position: fixed;
  pointer-events: none; /* Важно: чтобы курсор не мешал кликам */
  z-index: 9999;
  mix-blend-mode: difference; /* Та самая инверсия */
  transition: transform 0.1s ease-out; /* Легкая плавность */
}

.nav-container {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 100;
  display: flex;
  gap: 12px;
}

.nav-button {
  padding: 12px 10px;
  text-shadow: 0 0 15px #ffffff, 0 0 20px #ffffff;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border: 0px solid rgba(255, 255, 255, 0.2);
  border-radius: 0px;
  color: white;
  font-size: 14px;
  letter-spacing: 0px;
  /* cursor: click; */
  transition: all 0.3s ease;
  text-transform: lowercase;
}

.nav-button:hover {
  background: rgba(255, 255, 255, 0.2);
  text-shadow: 0 0 15px #ffffff, 0 0 25px #ffffff, 0 0 40px #ffffff;
}